<ion-header>

    <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Detalle
        </ion-title>
    </ion-toolbar>
</ion-header>


<h3>Pagina detalle</h3>

<ion-content padding>
    
    <ion-list>
        <button ion-item *ngFor="let item of personal" (click)="itemSelected(item)">
            {{ item.id }}

            {{ item.id }}

            {{ item.id }}
        </button>
    </ion-list>
    
</ion-content>
